
h1{
  
  background-color: white;
}

body{
  display: flex; 
}
.grimdark{
  font-family: Old London;
  font-style: italic;
}

#linkstack{
  min-width: 200px;
  margin-right: 50%px;
}

table{
  border-collapse: collapse;

}

#firstRow{
  align-self: center;
  text-align: middle;
  margin: -1em -1em -1em -1em;
  padding: 1em 1em 1em 1em;
  border: 3px solid black;
  width: 1000px;
}

#secondRow{
  text-align: center;
  margin: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 3px solid black;
  width: 1000px;
}

#thirdRow{
  text-align: left;
  margin: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 3px solid black;
  width: 1000px;
}

#thirdRowApps{
  text-align: center;
  margin: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 3px solid black;
  width: 1000px;
}

.evaluationRows{
  text-align: left;
  margin: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border: 3px solid black;
  width: 1000px;
}

#evaluationRows{
  text-align: left;
  margin: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  border: 3px solid black;
  width: 1000px;
}
